<!-- Modal -->
<div class="modal fade" id="modalUpdateUserPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalUpdateUserPassword">Actualizar Contraseña</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="update-user-password-close-button"></button>
            </div>
            <div class="modal-body mt-3">

                <form id="updateUserPasswordForm" class="needs-validation rounded-0 form-container" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <!-- Primera Sección -->
                        <div class="col-lg-6">

                            <div class="mb-5">
                                <label for="edit-password" class="form-label">Contraseña</label>
                                <input type="password" id="edit-password" class="form-control rounded-0" placeholder="Contraseña" name="edit-password" maxlength="30" pattern="^[a-zA-Z\s]+$" required>
                                <div class="invalid-feedback">Por favor ingresa una contraseña.</div>
                            </div>

                        </div>

                        <!-- Segunda Sección -->
                        <div class="col-lg-6">

                            <div class="mb-5">
                                <label for="edit-confirm-password" class="form-label">Confirma contraseña</label>
                                <input type="password" id="edit-confirm-password" class="form-control rounded-0" placeholder="Confirma contraseña" name="edit-confirm-password" maxlength="30" required>
                                <div class="invalid-feedback">
                                    Debes asegurarte de que las contraseñas coinciden y no estén vacías.
                                    <ul>
                                        <li>
                                            La contraseña debe tener al menos 8 caracteres
                                        </li>
                                        <li>
                                            Inclusión de letras
                                        </li>
                                        <li>
                                            Incluir al menos un dígito
                                        </li>
                                        <li>
                                            Incluir al menos un carácter especial
                                        </li>
                                        <li>
                                            No debe ser similar al nombre de usuario o a otros atributos del usuario
                                        </li>
                                        <li>
                                            No debe ser fácil de adivinar
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Submit button -->
                    <div class="text-center mb-5">
                        <button type="button" class="btn btn-primary" id="update-user-password-button">Actualizar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>